@model HomeControl.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home Control</h1>
</div>

<div class="row">
    <div class="col-md-4">
       <h3>Add Device</h3>
        @using (Html.BeginForm("AddDevice", "Home", FormMethod.Post))
        {
            <select name="type">
                @foreach (string type in Model.GetDevicesTypes())
                {
                    <option >@type</option>
                }
            </select>
            <input type="submit" value="Add Device">
        }

        <hr>
        <h3>Power Meter</h3>
        <p>Current Power Consumption : @Model.PowerMeter.CurrentPowerConsumption</p>
        <p>Total Power Consumption (W/min): @Model.PowerMeter.TotalPowerConsumption</p>
        <hr>
        
    </div>

    <div class="col-md-4">
        <h2>Devices</h2>
        @foreach (HomeControl.Models.BaseClasses.BaseDevice device in Model.Devices.GetAll())
        {
            @_DeviceHelpers.ShowDevice(device);
        }
    </div>

    <div class="col-md-4">
        
    </div>
</div>